RewriteEngine On
RewriteRule ^$ index.php [L]
RewriteRule ^home$ index.php [L]
RewriteRule ^logout$ index.php?p=logout [L]
RewriteCond %{REQUEST_URI} ^/(.+)$
RewriteCond %{DOCUMENT_ROOT}/%1 !-f
RewriteRule ^ index.php?p=404 [L]