RewriteEngine On
RewriteRule ^home$ index.php [L]
RewriteRule ^login$ index.php?p=login [L]
RewriteRule ^logout$ index.php?p=logout [L]
RewriteCond %{REQUEST_URI} ^/(.+)$
RewriteCond %{DOCUMENT_ROOT}/%1 !-f
RewriteRule ^ index.php?p=404