.body{
    position: fixed;
    top: 73px;right: 0;left: 300px;bottom: 0;
    overflow: auto;
    padding: 15px;
    & .panel{
        word-wrap: break-word;
        background:white;
        margin:0;
        margin-bottom:15px;
        position: relative;
        border:1px solid rgb(237,237,237);
        box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
        border:5px;
        &.col2{
            width:calc(50% - 15px);
            max-width:calc(50% - 15px);
            &.right{
                float:right;
            }
            &.padding{
                max-width: calc(50% - 45px);
            }

            min-height: calc(40vh - 30px);

        }
        &.padding{
            padding: 15px;
        }
        color:gray;
        & .title{
            font-size: 22px;
            color:hsla(0, 0%, 0%, 0.87);
        }

        & button{
            background:rgb(68,184,175);
            padding: 7px 12px;
            border-radius: 4px;
            border:none;
            color:white;
            cursor: pointer;
            margin-right: 5px;
        }
    }

}