.left_panel{
    background:rgb(29,41,57);
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    width: 300px;
    @media(max-width:1216px){
        transition: 0.25s;
        transform: translateX(calc(100vw + 300px));
        z-index: 99;
        &.open{
            transform:translateX(0);
            width: 100%;
        }
    }
    & a {
        color:inherit;
        text-decoration:none;
    }
    & .title {
        background:rgb(0, 162,211);
        color:white;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        height: 70px;
        line-height: 70px;
        padding-left: 15px;
    }
    & .content{
        position: absolute;
        top: 70px;
        bottom:0;
        left: 0;
        right: 0;
        padding: 0;
        & div, & a{
            color:white;
            padding: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
            display: block;
            &:hover {
                background:rgb(51,54,69);
                cursor: pointer;
            }
        }
    }
}